$primary-color: rgb(0, 184, 255);
$accent-color: rgb(255, 203, 0);
$dark-slate: #191E22;

$font-color: #111;
$font-inverse-color: #f4f4f4;
$anchor-color: $primary-color;
$anchor-hover-color: lighten($primary-color, 20);
$font-secondary-color: #666;
$menu-background-color: rgb(244, 244, 244);
$menu-background-hover-color: #fff;