body.about {
    background-color: #fffff0;
    //background-image: url('http://www.transparenttextures.com/patterns/crisp-paper-ruffles.png');
    background-repeat: repeat;
	width: 100%;
	text-align: center;

    .txt-about-header {
        color: #9AC771;
        font-size: 50px;
        font-family: 'Monotype Corsiva';
        margin: 4px;
    }

	  div.content {
        width: 70%;
        margin: 20px auto 20px auto;
        text-align: center;
		font-size: 24px;

		p {
			text-align: left;
		}

		div.photo-thumbnails {
			margin: 10px auto;

			img {
				border: 1px solid #3e3b3b;
				margin: 5px 10px 5px 10px;
				max-width: 600px;
				max-height: 600px;

				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				border-radius: 4px;

				-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
				-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
				box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
			}
		}
	}
}