.activities .activities-header {
  width: 66%;
  text-align: center;
  margin: auto; }
.activities .links {
  width: 50%;
  margin: 20px auto 20px auto;
  text-align: center; }
  .activities .links ul li {
    text-align: left; }
.activities .photo-thumbnails {
  margin: 10px auto; }
  .activities .photo-thumbnails img {
    margin: 10px auto;
    max-height: 400px; }
.activities .content section {
  text-align: center;
  padding: 40px 0; }
  .activities .content section:nth-child(even) {
    background: #ededed; }
  .activities .content section.two-up .column-left,
  .activities .content section.two-up .column-right {
    float: left; }
    .activities .content section.two-up .column-left p,
    .activities .content section.two-up .column-right p {
      float: left;
      text-align: left;
      margin-bottom: 10px;
      width: 100%; }
  .activities .content section.two-up .column-left {
    width: 39%;
    margin: 0 2% 0 8%; }
  .activities .content section.two-up .column-right {
    width: 39%;
    margin: 0 8% 0 2%; }
  .activities .content section.two-up .photo-thumbnails {
    clear: left; }
    .activities .content section.two-up .photo-thumbnails img {
      width: 33%; }
  .activities .content section.three-up.landscape img {
    width: 33%; }
  .activities .content section p {
    width: 66%;
    margin: 0 auto; }
.activities .content .links {
  width: 50%;
  margin: 20px auto 20px auto;
  text-align: center; }
  .activities .content .links ul li {
    text-align: left; }
