@import "theme";

.activities {

    .activities-header {
        width: 66%;
        text-align: center;
        margin: auto;
    }

    .links {
        width: 50%;
        margin: 20px auto 20px auto;
        text-align: center;

        ul {

            li {
                text-align: left; 
            }
        }
    }

	.photo-thumbnails {
		margin: 10px auto;

		img {
			margin: 10px auto;
			max-height: 400px;
		}
	}

    .content {

        section {
            text-align: center;
            padding: 40px 0;

            &:nth-child(even) {
                background: $background-alternate;
            }

            &.two-up {

                .column-left,
                .column-right {
                    float: left;

                    p {
                        float: left;
                        text-align: left;
                        margin-bottom: 10px;
                        width: 100%;
                    }
                }

                .column-left {
                    width: 39%;
                    margin: 0 2% 0 8%;
                }
            
                .column-right {
                    width: 39%;
                    margin: 0 8% 0 2%;
                }

                .photo-thumbnails {
                    clear: left;

                    img {
                        width: 33%;
                    }
                }
            }

            &.three-up {
            
                &.portrait {

                    img {

                    }
                }

                &.landscape {
                
                    img {
                        width: 33%;
                    }
                }
            }

            p {
                width: 66%;
                margin: 0 auto;
            }
        }

        .links {
            width: 50%;
            margin: 20px auto 20px auto;
            text-align: center;

		    ul {
			    li {
				    text-align: left; 
			    }
		    }
	    }
    }
}