body.cabins {
background-color: #ffffd6;
background-image: url(http://www.transparenttextures.com/patterns/dark-stripes-light.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-repeat: repeat;
}

body.cabins div.cabin-header {
    width: 100%;
    margin: 20px auto 10px auto;
    text-align: center;
}

body.cabins .cabin-header .txt-cabins-title {
    color: #9AC771;
    font-size: 50px;
    font-family: 'Monotype Corsiva';
    margin: 4px;
}

body.cabins .cabin-header .txt-cabins-subtitle {
    color: #3e3b3b;
    font-size: 24px;
    font-family: 'Book Antiqua';
    margin: 4px;
}

body.cabins h2 {
    color: #97774d;
    font-size: 40px;
    font-family: 'Monotype Corsiva';
    margin: 4px;
}

body.cabins h3 {
    color: #97774d;
    font-size: 36px;
    font-family: 'Monotype Corsiva';
    margin: 4px;
}

body.cabins .cabin-section {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    padding: 20px 0 40px 0;
}

body.cabins div.separator {
    width: 70%;
    margin: 40px auto;
    text-align: center;
    height: 2px;
    border-top: 1px dotted #97774d;
    border-bottom: 1px solid #97774d;
}

body.cabins div.main-photo-box {
    width: 100%;
}

body.cabins div.main-photo {
    width: 700px;
    max-width: 700px;
    border: 1px solid #3e3b3b;
    margin: 10px auto;

    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	-moz-box-shadow: 8px 8px 12px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, .25);
	box-shadow: 8px 8px 12px rgba(0, 0, 0, .25);
}

body.cabins div.main-photo img {
    width: 700px;

    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

body.cabins div.photo-thumbnails {
    margin: 10px auto;
}

body.cabins div.photo-thumbnails img {
    border: 1px solid #3e3b3b;
    margin: 5px;

    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
}

body.cabins div.photo-thumbnails img.selected {
    border: 2px solid #7b0202;
}

body.cabins div.photo-thumbnails img:hover {
    cursor: pointer;
}

body.cabins div.prices {
    width: 100%
}

body.cabins div.prices table {
    width: 500px;
    margin: 10px auto;
    text-align: center;
}

body.cabins div.prices table tr {
    border-top: 1px solid #3e3b3b;
    font-size: 19px;
    color: #3e3b3b;
}