.footer {
  background: #191e22;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%; }
  .footer ul {
    float: right;
    line-height: 50px;
    color: #f4f4f4; }
    .footer ul li {
      padding: 0 18px; }
