@import "theme";

.home {
    background-image: url('/img/secluded-cabin-1920x1050.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #191E22;

	.words {
		display: none;
	}

	.titlebox {
		display: block;
		width: 46%;
		position: absolute;
        bottom: 26%;
        left: 80px;
		text-align: center;
        color: $font-inverse-color;
        background: rgba(25, 30, 34, 0.93);
        box-sizing: border-box;
        padding: 12px;
        border-radius: 10px;
	}
}