body.location {
background-color: #ffffd6;
background-image: url(http://www.transparenttextures.com/patterns/dark-stripes-light.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-repeat: repeat;
}

body.location div.location-header {
    width: 100%;
    margin: 20px auto 20px auto;
    text-align: center;
}

body.location h1 {
    color: #97774d;
    font-size: 40px;
    font-family: 'Monotype Corsiva';
    margin: 4px;
}

body.location #map-canvas {
    width: 900px;
    height: 600px;
    background-color: #CCC;
    margin: 0 auto;
}

body.location div.gm-style {
    border: 3px solid black;
}