/* Master */
@import "theme";

html {
    position: relative;
    min-height: 100%;
}

body {
    font: 16px/1.5 'Montserrat', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    color: $font-color;
    margin: 0 0 50px;
}

.hide {
    display: none!important;
}

.left {
    float: left;
}

.right {
    float: right;
}

h1, h2, h3, h4 {
    font-family: 'Pacifico', cursive;
    margin-bottom: 5px;
}

h1 {
    font-size: 48px;
    line-height: 1.25em;
}

h2 {
    font-size: 36px;
    line-height: 1.3em;
}

h3 {
    font-size: 28px;
    line-height: 1.25em;
}

h4 {
    font-size: 18px;
    line-height: 1.23em;
}

a {
    color: $anchor-color;

    &:hover,
    &:focus {
        color: $anchor-hover-color;
    }
}

ul.inline {

    li {
        display: inline;
    }
}

.hero-title {
    color: $primary-color;
}

.page-title {
    margin-top: 40px;
}

.blockquote {
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.footnotes {
    padding: 20px;

    .footnote {
        color: $font-secondary-color;
        font-size: 0.8em;
    }
}

.subheader {
    font-family: 'Merriweather', serif;
    font-style: italic;
}


/* Mobile phone styles */
@media all and (max-width: 600px) {

    img {
        display: block;
        width: 100% !important;
    }

    p {
        width: 80% !important;
    }
}