<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <!-- Make sure you rename the swf files if you upgrade their version e.g swfupload_2 so that the browser pulls down the new version-->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3650.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
